@font-face {
    font-family: 'Honey Script';
    src: url('fonts/honeyscript-light-webfont.eot');
    src: url('fonts/honeyscript-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/honeyscript-light-webfont.woff') format('woff'),
         url('fonts/honeyscript-light-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato Bold';
    src: url('fonts/lato-bold.eot'),
         url('fonts/lato-bold.woff') format('woff'),
         url('fonts/lato-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato Regular';
    src: url('fonts/lato-regular.eot'),
         url('fonts/lato-regular.woff') format('woff'),
         url('fonts/lato-regular.ttf') format('truetype');
}
p {
    font-family: Lato Regular;
}
#menu {
	position:fixed;
	top:0px;
    z-index:9;
    background-color: rgb(240,179,109);
    height: 100px;
}
.menu > div{
    margin: 0 auto;
}
.menu > div >p{
    color: white;
    padding-left: 32px;
    padding-top: 40px;
}

.billboard{
    width: 100%;
    z-index: -1;
}
.icons{
    margin: 0 auto;
    bottom: 80px;
    position: relative;
}
.billboardparagraphs{
    z-index:-1;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    top: 175px;
}
.billboardparagraphs>p{
    font-size:30px;
    color:white;
    text-align: center;
}
.description > p:first-child{
    text-align: center;
    padding-top: 0px;
    margin: 0;
    font-size: 17px;
    font-weight: bold;
}
.description > p{
    padding: 0;
    text-align: center;
    margin: 0 auto;
}

.signup{
    background-color: rgb(247, 247, 247);
    margin-top: 81px;
}
.template >img{
    padding-top: 62px;
}

.advertisment >p:first-child{
    padding: 120px 0px 0px 53px;
    font-size: 22px;
    font-weight: bold;
}
.advertisment >p{
    font-size: 12px;
    padding-left: 53px;
}

.btn{
    background-color: rgb(236, 161, 81);
    color: white;
    padding: 5px 27px 5px 27px;
}
.button{
    padding: 33px 0px 0px 53px;
}

.inscription > p{
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 80px;
}

.client{
    background-color: rgb(249, 248, 248);
    width: 300px;
    z-index: -4; 
}
.client>p{
    font-size: 14px;
    margin: 0 auto;
    padding: 30px 30px 47px 30px;
}

.photo{
   border-radius: 45%;
   border: 5px solid white;
   position: absolute;
   right: 60px;
   top: 230px;
   
}
.clients{
    padding-top: 60px;
}

.newsletter{
    padding-top: 80px;
}
.newsletter > div > p{
    color: white;
    font-size: 27px;
    padding: 50px 0px 50px 0px;
}
.backnewsletter{
    z-index: -2;
    position: absolute;
}

.subscribe{
    margin-left:210px;
    padding: 0;
}
.subscribe >p{
    margin: 0;
}
.input-group{
    right: 250px;
    top: 60px;
    background-color: white;
    width: 600px;
    height: 60px;
    border: 1px solid lightgrey;
    border-radius: 45px;
}
.form1{
    border: none;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px; 
}
.form2{
    border-right:none;
    border-top: none;
    border-bottom: none;
}
.buttonsubscribe{
    padding: 8px;
}
.buttonsubscribe > button {
    width: 150px;
    height: 40px;
    border-radius: 45px; 
}
.footer{
    background-color: rgb(57, 57, 57);
}
.footer > div > img{
    margin: 0 auto;
    padding-top: 80px;
}
.footermenu > p{
    display: inline;
    padding-left: 21px;
    color: rgb(166, 166, 166);
}
.footermenu{
    padding-top: 30px;
    margin: 0 auto;
}
.author{
    padding-top: 30px;
    margin: 0 auto;
    color: rgb(166, 166, 166);
}
